@import "tailwindcss";

@theme {
  --font-playwrite: "PlaywriteDE SAS", system-ui, sans-serif;
  --color-brand-blue: #2196f3;
  --color-brand-blue-hover: #1976d2;
  --color-primary: #2196f3;
  --color-primary-hover: #1976d2;
}

@font-face {
  font-family: 'PlaywriteDE SAS';
  src: url('/Playwrite_DE_SAS/PlaywriteDESAS-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}